@import "compass";

// Variables
$primary: #E41D3D;
$black: #3D3D41;
$background: #FCFCFC;
$white: white;
$medium : 1400px;

// Base
@import "base/normalize";
@import "base/base";

// Fonts
@import "fonts/fonts";


// Layout

@import "layout/jeet/index";

// Modules

@import "modules/buttons";
@import "modules/alerts";
@import "modules/login";
@import "modules/icons";
@import "modules/header";
@import "modules/main";
@import "modules/channels";
@import "modules/messages";
@import "modules/users";