*{
	@include box-sizing(border-box);
}

body{
	margin: 0; padding: 0;
	font-size: 16px;
	line-height: 1.75;
	font-family: 'Open Sans', Helvetica, Arial sans-serif;
	color: $black;
	background-color: $background;
}